<div id="dowloaditinpdf" #dowloaditinpdf>
    <div class="container">
        <h1 class="display-4">Flight Booking</h1>
        <p class="lead">Your Ticket</p>
    </div>
    <div class="container">
        <div class="row" *ngIf="user">
            <div class="col-sm">
                <span>User Name</span>
              </div>
              <div class="col-sm">
                <span>{{user}}</span>
              </div>              
        </div>
        <div class="row" *ngIf="email">
            <div class="col-sm">
                <span>Email ID</span>
              </div>
              <div class="col-sm">
                <span>{{email}}</span>
              </div>              
        </div>
        <hr style="width:50%;text-align:left;margin-left:0">
        <div class="row" *ngIf="name0">
            <div class="col-sm">
                <span>Passanger Name</span>
              </div>
              <div class="col-sm">
                <span>{{name0}}</span>
              </div>              
        </div>
        <div class="row" *ngIf="age0">
            <div class="col-sm">
                <span>Age</span>
              </div>
              <div class="col-sm">
                <span>{{age0}}</span>
              </div>              
        </div>
        <div class="row" *ngIf="gender0">
            <div class="col-sm">
                <span>Gender</span>
              </div>
              <div class="col-sm">
                <span>{{gender0}}</span>
              </div>              
        </div>
        <div class="row" *ngIf="seat0">
            <div class="col-sm">
                <span>Seat Number</span>
            </div>
              <div class="col-sm">
                <span>{{seat0}}</span>
              </div>              
        </div>
        <hr style="width:50%;text-align:left;margin-left:0">
        <div class="row" *ngIf="name1">
            <div class="col-sm">
                <span>Passanger Name</span>
              </div>
              <div class="col-sm">
                <span>{{name1}}</span>
              </div>              
        </div>
        <div class="row" *ngIf="age1">
            <div class="col-sm">
                <span>Age</span>
              </div>
              <div class="col-sm">
                <span>{{age1}}</span>
              </div>              
        </div>
        <div class="row" *ngIf="gender1">
            <div class="col-sm">
                <span>Gender</span>
              </div>
              <div class="col-sm">
                <span>{{gender1}}</span>
              </div>              
        </div>
        <div class="row" *ngIf="seat1">
            <div class="col-sm">
                <span>Seat Number</span>
            </div>
              <div class="col-sm">
                <span>{{seat1}}</span>
              </div>              
        </div>
        <hr style="width:50%;text-align:left;margin-left:0">
        <div class="row" *ngIf="name2">
            <div class="col-sm">
                <span>Passanger Name</span>
              </div>
              <div class="col-sm">
                <span>{{name2}}</span>
              </div>              
        </div>
        <div class="row" *ngIf="age2">
            <div class="col-sm">
                <span>Age</span>
              </div>
              <div class="col-sm">
                <span>{{age2}}</span>
              </div>              
        </div>
        <div class="row" *ngIf="gender2">
            <div class="col-sm">
                <span>Gender</span>
              </div>
              <div class="col-sm">
                <span>{{gender2}}</span>
              </div>              
        </div>
        <div class="row" *ngIf="seat2">
            <div class="col-sm">
                <span>Seat Number</span>
            </div>
              <div class="col-sm">
                <span>{{seat2}}</span>
              </div>              
        </div>        
      </div>

</div>
