<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="search-flight">Search Flights</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" >
                <a class="nav-link" routerLink="/manage-ticket">Manage Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/search-flight">Search Flight</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/pnr-search">Check PNR Status</a>
            </li>
        </ul>
        <a href = "login" class="navbar-text">
            LogOut
        </a>
    </div>
</nav>

<form [formGroup]="pnrForm" class="col-12">
    <div class="col-md-4 mt-2">
        <input type="text" class="form-control" formControlName="pnr" placeholder="PNR Number">
    </div>
    <div class="d-flex flex-column mb-3">
        <div class="col-md-4 mt-2">
            <button class="btn btn-singin btn-md" (click)="seachTicket()">Search</button>
        </div>
    </div>
</form>

<div class="container mt-3">
    <table class="table table-boarderd" *ngIf="readUser">
        <thead class="thead-dark">
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">Email Id</th>
            <th scope="col">PNR Number</th>
            <th scope="col">Flight ID</th>
            <th scope="col">Flight Name</th>
            <th scope="col">Depart From</th>
            <th scope="col">Departure Time</th>
            <th scope="col">Arrival</th>
            <th scope="col">Arrival Time</th>
            <th scope="col">Fare</th> 
            <th scope="col">Download</th>
            <th scope="col">Cancel</th>           
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>{{readUser.userName}}</td>
            <td>{{readUser.emailId}}</td>
            <td>{{readUser.pnrnumber}}</td>            
            <td>{{readUser.flightIid}}</td>
            <td>{{readUser.flightName}}</td>
            <td>{{readUser.departureFrom}}</td>
            <td>{{readUser.departureTime}}</td>
            <td>{{readUser.arrivalTo}}</td>
            <td>{{readUser.arrivalTime}}</td>
            <td>{{readUser.fare}}</td>
            <td><a [routerLink]="['/ticket-download',readUser.pnrnumber]" class="btn btn-success">View Ticket</a></td>
            <td><button class="btn btn-danger">Cancel</button></td>
          </tr>
        </tbody>
      </table>
      
</div>
